.iframe_Video {
    width: 454px;
    height: 418px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.iframe_Video.front-end {
    border: 1px solid rgba(107, 209, 255, 1);
    box-shadow: 0px 0px 17px 4px rgba(107, 209, 255, 1) inset;
}

.iframe_Video.back-end {
    border: 1px solid rgba(0, 255, 0, 1);
    box-shadow: 0px 0px 17px 4px rgba(0, 255, 0, 1) inset;
}

.iframe_Video.mobile {
    border: 1px solid rgba(255, 255, 0, 1);
    box-shadow: 0px 0px 17px 4px rgba(255, 255, 0, 1) inset;
}

.button_area {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.button_area h4 {
    margin-right: 50px;
    color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.button_area button {
    background-color: transparent;
    border: none;
    color: white;
    display: flex;
    align-items: center;
}

.button_deletar, .button_editar {
    font-size: 32px;
    cursor: pointer;
}

.button_area div {
    display: flex;
}
@media(max-width:425px){
    .iframe_Video {
        width: 300px;
        height: 300px;
    }
    .iframe_Video iframe{
        width: 270px;
        height: 200px;
    }
    .button_area h4 {
        margin-right: 20px;
    }
}